body {
  background-color: rgba(50, 50, 50);
  padding: 0;
  margin: 0;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#contain {
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
}
select, input, button, textarea {
  color: black;
}