body {
  margin: 0;
  padding: 0;
  background-color: #181818;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
div {
  text-align: center;
}
p {
  margin: 0;
  margin-top: 35vh;
  padding: 20px 0;
  font-size: 2vw;
  color: white;
  background-color: #0004;
}
span {
  display: inline-block;
  max-width: 70vw;
}
button {
  position: absolute;
  width: 15vw;
  height: 9vh;
  top: 60vh;
  left: 50%;
  transform: translate(-50%,0);
  border: 4px solid #333;
  outline: none;
  font-size: 1.6vw;
  background-color: #BBB;
  color: black;
  cursor: pointer;
  user-select: none;
}
button:hover {
  background-color: #999;
}
button:active {
  background-color: #AAA;
}