/* This is my favourite programming language */
@font-face {
  font-family: dirty-roma;
  src: url(../../source/font/dirty-roma.woff2);
}
body {
  background-color: rgba(50, 50, 50);
  background: rgb(45,48,70);
  background: radial-gradient(circle, rgba(45,48,70,1) 15%, rgba(11,11,24,1) 100%);
}
* {
  letter-spacing: 2px;
  /* font-family: samdan, Arial, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: dirty-roma, Arial, sans-serif;
  color: #EEE;
  user-select: none;
}
#contain {
  
}
#wrap {
  position: relative;
  border: 4px solid #112;
  border-radius: 10px;
  background-color: rgba(60, 60, 60);
  margin-right: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
canvas {
  border-radius: 6px;
  position: fixed;
}
canvas.hidden {
  display: none;
}
select, input, button, textarea {
  color: black;
}
h1 {
  margin: 10px;
}
h2 {
  margin: 5px;
  margin-bottom: 0px;
}
ul {
  text-align: left;
  margin-left: 30%;
}
li {
  margin-bottom: 5px;
}
a:not(:hover) {
  text-decoration: none;
}