body {
  background-color: rgba(50, 50, 50);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#contain {
  width: 100%;
}
#wrap {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 4px solid #114;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px #0004;
}
canvas {
  position: fixed;
  border-radius: 5px;
}
select, input, button, textarea {
  color: black;
}