/* This is my favourite programming language */
body {
  background-color: rgba(50, 50, 50);
  background: rgb(45,48,70);
  background: radial-gradient(circle, rgba(45,48,70,1) 15%, rgba(11,11,24,1) 100%);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  user-select: none;
}
#canvas_contain {
  text-align: center;  
}
canvas {
  background-color: rgba(60, 60, 60);
  border: 4px solid #112;
  border-radius: 10px;
  margin-right: 10px;
}
select, input, button, textarea {
  color: black;
}
h1 {
  margin: 10px;
}
h2 {
  margin: 5px;
  margin-bottom: 0px;
}
ul {
  text-align: left;
  margin-left: 30%;
}
li {
  margin-bottom: 5px;
}
a:not(:hover) {
  text-decoration: none;
}