/* This is my favourite programming language */
@font-face {
  font-family: dirty-roma;
  src: url(../../source/font/dirty-roma.woff2);
}
body {
  background: rgba(19, 7, 12, 1);
  background: radial-gradient(
    circle,
    rgba(46, 16, 24, 1) 0%,
    rgba(19, 7, 12, 1) 100%
  );
}
* {
  letter-spacing: 2px;
  /* font-family: samdan, Arial, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: dirty-roma, Arial, sans-serif;
  color: #eee;
  user-select: none;
}
#wrap {
  position: relative;
  border: 4px solid rgba(46, 16, 24, 1);
  border-radius: 10px;
  background-color: rgba(60, 60, 60);
  margin-right: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
canvas {
  border-radius: 6px;
  position: fixed;
  /* border: 2px solid #8888; */
}
canvas.hidden {
  display: none;
}
select,
input,
button,
textarea {
  color: black;
}
h1 {
  margin: 10px;
}
h2 {
  margin: 5px;
  margin-bottom: 0px;
}
ul {
  text-align: left;
  margin-left: 30%;
}
li {
  margin-bottom: 5px;
}
a:not(:hover) {
  text-decoration: none;
}
