body {
  background-color: rgba(50, 50, 50);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  user-select: none;
}
.cv-contain {
  float: left;
}
canvas {
  background-color: #0000;
  border: 3px solid rgba(70, 70, 70);
  margin-right: 10px;
  /* cursor: none; */
}
select, input, button, textarea {
  color: black;
}
#cv_joystick {
  border: none;
}
#button_contain button {
  width: 50px;
  height: 50px;
  margin: 2px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  border: 8px outset #DDD;
  background-color: #EEE;
  cursor: pointer;
}
#button_contain button:active {
  border: 8px inset #EEE;
  background-color: #CCC;
}