body {
  background-color: rgba(50, 50, 50);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
textarea {
  width: 300px;
  height: 300px;
  padding: 20px 10px;
  line-height: 40px;
  font-size: 20px;
}
button, input, textarea {
  color: black;
}