/* Header */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 130px;
  font-size: 40px;
  background-color: #050505B0;
  z-index: 100;
  backdrop-filter: blur(10px);
}
header:focus {
  outline: none;
  background: #0b0b18;
  background: linear-gradient(180deg, #0b0b18 0%, #2d3046 100%);
}
header h1 {
  margin-top: 25px;
  font-size: 60px;
  font-weight: 500;
}
/* Shortcuts */
#sc_contain {
  column-count: 6;
  margin-top: 140px;
  column-gap: 10px;
}
@media (max-width: 900px) {
  #sc_contain {
    column-count: 5;
  }
}
@media (max-width: 700px) {
  #sc_contain {
    column-count: 4;
  }
}
@media (max-width: 600px) {
  #sc_contain {
    column-count: 3;
  }
}
@media (max-width: 500px) {
  #sc_contain {
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #sc_contain {
    column-count: 1;
  }
}
#sc_contain .sc {
  position: relative;
  height: 60px;
  margin-bottom: 10px;
}
#sc_contain .sc img {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 20px;
  border-radius: 10%;
}
#sc_contain .sc img.unloaded {
  opacity: 50%;
}
#sc_contain .sc button.link {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #050505B0;
  color: white;
}
#sc_contain .sc button.link:focus {
  outline: none;
}
#sc_contain .sc button.link:hover {
  background-color: #030303C0;
}
#sc_contain .sc button.link.focus {
  background-color: #202020B0;
}
#sc_contain .sc button.link a {
  display: inline-block;
  margin-left: -2.5%;
  margin-top: 17px;
  height: 100%;
  width: 105%;
  border-radius: 10px;
}
#sc_contain .sc button.link a.unknown {
  color: #666;
}
#sc_contain .sc button.link a:focus {
  outline: none;
}
#sc_contain .sc button.edit {
  position: absolute;
  right: 2px;
  bottom: -7px;
  height: 25px;
  width: 25px;
  padding-top: 3px;
  padding-left: 4px;
  font-size: 20px;
  border: none;
  background-color: #0000;
}
#sc_contain .sc button.edit:focus {
  outline: none;
  background-color: #888A;
  border-radius: 30%;
}
#sc_contain .sc button.edit:focus i {
  color: white;
}
#sc_contain .sc button.edit i {
  color: #CCC;
}
#sc_contain .sc button.edit i:hover {
  color: #FFF;
}
#error {
  font-size: 30px;
  color: #FFAAAA;
}
#error,
#error * {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
#error button {
  font-size: 20px;
}
/* Search */
.search input {
  height: 40px;
  min-width: 200px;
  width: 20%;
  padding: 0 15px;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  transition: 0.3s ease-in-out;
  transition-property: width, min-width;
}
.search input:focus,
.search input:hover {
  min-width: 500px;
  width: 40%;
  outline: none;
}
/* Notes */
#notes_contain {
  margin-top: 10px;
}
#notes_contain .wrap {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  float: left;
  padding: 0;
  border: 5px solid #994;
  background: #cccc44;
  background: linear-gradient(180deg, #cccc44 0%, #bebe37 100%);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
#notes_contain .wrap .note {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #0000;
  border: none;
  margin: 0;
  padding: 5px;
  resize: none;
  font-size: 25px;
  line-height: 35px;
  color: black;
}
#notes_contain .wrap .note::-webkit-scrollbar {
  display: none;
}
#notes_contain .wrap button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  background-color: #0000;
}
#notes_contain .wrap button i {
  color: #0008;
  font-size: 25px;
  text-shadow: 0 0 8px #FFF8;
}
