body {
  margin: 0;
  background: url(image/background.png);
}
* {
  font-family: Verdana, Helvetica, sans-serif;
  color: white;
}
#contain {
  width: 100%;
}
#wrap {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 4px solid #114;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px #0004;
}
canvas {
  position: fixed;
  border-radius: 5px;
}
h1 {
  text-align: center;
  margin: 10px;
  font-size: 40px;
}
footer {
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 100px;
  backdrop-filter: blur(100px);
  background-color: #111A;
  box-shadow: 0 0 10px 5px #0002;
  cursor: pointer;
}
footer:hover {
  text-decoration: underline;
}