body {
  background-color: rgba(50, 50, 50);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
canvas {
  position: fixed;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
select, input, button, textarea {
  color: black;
}